/* ======================================
Footer
========================================= */
.s-footer{
    padding-bottom: 205px;
    position: relative;
    @include breakpoint('mobile'){
        width: 95%;
        margin: 0 auto;
    }
    &:before{
        content: '';
        height: 600px;
        background-color: #6dd6bf;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 40px;
    }
    &__form{
        max-width: 1082px;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        @include breakpoint('mobile'){
            padding: 0 10px;
        }
        
        h3{
            color: #63C7A9;
            font-size: 35px;
            text-align: center;
            margin-bottom: 40px;
        }
        p{
            font-size: 20px;
            margin-bottom: 60px;
        }
        
        &--content{
            width: 100%;
            max-width: 745px;
            margin: 0 auto;
            padding: 10% 0;  
            
            form{
                width: 100%;
                max-width: 527px;
                margin: 0 auto;
                ul{
                    li{
                        width: 100%;
                        display: flex;
                        @include breakpoint('mobile'){
                            flex-direction: column;
                        }
                        @include breakpoint('desktop'){
                            justify-content: space-between;
                            margin-top: 39px;
                        }
                        input{
                            width: 100%;
                            @include breakpoint('mobile'){
                                margin-bottom: 20px;
                            }
                            @include breakpoint('desktop'){
                                width: 48%;
                            }
                        }
                        textarea{
                            width: 100%;
                        }
                        input,
                        textarea{
                            padding: 10px;
                            font-size: 18px;
                            &.erro{
                                border: 1px solid red;
                            }
                        }
                        button{
                            width: 249px;
                            height: 48px;
                            background: #63C7A9 0% 0% no-repeat padding-box;
                            color: #fff;
                            font-size: 18px;
                            text-transform: uppercase;
                            border: none;
                            
                            @include breakpoint('mobile'){
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}