/* ======================================
Header
========================================= */
.s-header{
    height: 109px;

    &__logo{
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 23px;
        }
    }
}