@mixin breakpoint($point, $value: 0) {
	@if $point == mobile {
		@media only screen
			and (min-width : 100px)
			and (max-width: 1025px)
		{ @content; }
	}

	@else if $point == tablet {
		@media only screen
			and (min-width : 761px)
			and (max-width : 1180px)
		{ @content; }
	}

	@else if $point == desktop {
		@media only screen
			and (min-width : 1026px)
			and (max-width : 5000px)
		{ @content; }

	}
	@else if $point == bigdesktop {
		@media only screen
			and (min-width : 1200px)
			and (max-width : 5000px)
		{ @content; }

	}

	@else if $point == notMobile {
		@media only screen
			and (min-width : 761px)
		{ @content; }

	}

	@else {
		@media only screen
			and ($point: $value)
		{ @content; }
	}
}

@mixin between-breakpoints($min, $max) {
	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}


// @include breakpoint('mobile'){

// }