/*
   Cores
   ========================================================================== */

/*
   Fontes
   ========================================================================== */
   @import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
   @import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,700');
   @import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');

   $font-openSans: 'Open Sans', sans-serif;
   $font-montSerrat: 'Montserrat', sans-serif;

    
    // Responsive & Mobile settings
    $responsive-min-width: 100px;
    $responsive-max-width: 760px;
    $container-width: 1139px;
