.s-vitrine{
    width: 100%;
    height: calc(100vh - 50vh);
    background-image: url(../../assets/img/fundo-site.png);
    background-repeat: no-repeat;
    background-size: 100%;
    @include breakpoint('desktop'){
        height: calc(100vh + 200px);
    }
}

.s-prateleira{
    padding: 0 0 100px 0;
    .container{ 
        max-width: 1300px;
    }
    &__list{
        display: flex;
        justify-content: space-around;
        padding-left: 20px;
        @include breakpoint('desktop'){
            padding-left: 50px;
        }
        &--item{
            width: 319px;
            a{
                height: 100%;
                position: relative;
                color: #363636;
                font-size: 20px;
                p{
                    position: absolute;
                    top: 70%;
                    font-size: 15px;
                    padding: 0 10%;
                    line-height: 20px;
                }
            }
        }
    }
    
    .owl-nav{
        display: block!important;
            > button{
            position: absolute;
            top: 40%;
            font-size: 0;
            i{
                color: #fff;
                font-size: 50px;
            }
            &.owl-prev{
                left: 0;
            }
            &.owl-next{
                right: 0;
            }
        }
    }
}

.voltarTop{
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 107px;
    height: 107px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    cursor: pointer;
    i{
        font-size: 40px;
        color: #000;
    }
}

