  /* ==========================================================================
    Base Classes
    ========================================================================== */

    * { 
       box-sizing: border-box;
    }

    .clearfix {
      *zoom: 1;
    
      &:before,
      &:after {
        content: " ";
        display: table;
      }
    
      &:after { clear: both; }
    }
    
    a,
    a:hover { text-decoration: none; }
    
    body > svg:first-of-type { display: none; }
    
    svg path { fill: inherit; }

    .flex { display: flex; }
    
    /* Fixes Firefox anomaly on Lazyloading */
    @-moz-document url-prefix() {
      img:-moz-loading { visibility: hidden; }
    }
    
    /*
      Base Style
      ========================================================================== */
    
      a,
      span{
        display: inline-block;
      }

      body,
      html {
        min-height: 100%;
      }
      h1,
      h2,
      h3{
        font-family:  $font-montSerrat;
      }
      .container{
        width: 100%;
        max-width: 815px;
        margin: 0 auto;
      }

      body{
        font-family: $font-openSans;
        font-size: 20px;
        color: #363636;
        box-sizing: border-box;
        font-smoothing: antialiased;
        line-height: initial;
        text-rendering: optimizeLegibility;
        background-color: #363636;
      }

      li{
        list-style: none;
      }
    
      img{
        max-width: 100%;
        width: auto;
        height: auto;
      }
